<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
	{{> "systems/ryuutama/templates/actor-sheets/parts/actor-header.hbs"}}

	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="details">Details</a>
		<a class="item" data-tab="background">Background</a>
		<a class="item" data-tab="inventory">Inventory</a>
	</nav>

	<section class="sheet-body">
		<div class="tab details" data-group="primary" data-tab="details">
			<div class="attribute-grid">
				<label class="attribute-label" for="system.attributes.level">{{localize "RYUU.Level"}}:</label>
				<span name="system.attributes.level">{{system.attributes.level}}</span>

				<label class="attribute-label" for="system.background.class">{{localize "RYUU.Class"}}:</label>
				<input class="big-input" type="text" name="system.background.class" value="{{system.background.class}}" />

				<label class="attribute-label" for="system.attributes.xp">{{localize "RYUU.XP"}}:</label>
				<input class="reg-input" type="number" name="system.attributes.xp" value="{{system.attributes.xp}}" />

				<label class="attribute-label" for="system.background.type">{{localize "RYUU.Type"}}:</label>
				<input class="big-input" type="text" name="system.background.type" value="{{system.background.type}}" />
			</div>
			<hr />
			{{> "systems/ryuutama/templates/actor-sheets/parts/actor-main-stats.hbs"}}
			<hr />
			<div class="attribute-block">
				<div class="attribute">
					<label class="attribute-label" for="system.attributes.fumbles">{{localize "RYUU.FumblePoints"}}:</label>
					<input class="reg-input" type="number" name="system.attributes.fumbles" value="{{system.attributes.fumbles}}" />
				</div>
			</div>
		</div>

		<div class="tab background" data-group="primary" data-tab="background">
			{{editor biographyHTML target="system.biography" button=true editable=editable}}
		</div>

		<div class="tab inventory" data-group="primary" data-tab="inventory">
			<h3>Capacity</h3>
			<div class="attribute-block">
				<div class="attribute">
					<label class="attribute-label" for="remaining-capacity">Remaining:</label>
					<span>{{remainingCapacity}}</span>
				</div>
				<div class="attribute">
					<label class="attribute-label" for="system.attributes.capacity">Maximum:</label>
					<input class="reg-input" type="number" name="system.attributes.capacity" value="{{system.attributes.capacity}}" />
				</div>
			</div>
			<div class="item-grid">
				{{#if hasEquipment}}
					<h3 class="item-grid-header">Equipped</h3>

					{{#each equipped.weapons as |item id|}}
						{{> "systems/ryuutama/templates/actor-sheets/parts/actor-item-header.hbs" item=item}}
						<div class="item-details">
							<span class="item-detail-label">ACC:</span> 
							<span class="item-detail-value">[{{item.system.accuracy}}]</span>

							<span class="item-detail-label">DMG:</span> 
							<span class="item-detail-value">[{{item.system.damage}}]</span>
						</div>
						<div class="item-buttons" data-item-id="{{item._id}}">
							<a class="item-unequip">Unequip</a>
							<a class="item-drop">Drop</a>
						</div>
					{{/each}}

					{{#each equipped.equipment as |item id|}}
						{{> "systems/ryuutama/templates/actor-sheets/parts/actor-item-header.hbs" item=item}}
						<div class="item-details">
							<span class="item-detail-label">Slot:</span>
							<span class="item-detail-value">{{item.system.slot}}</span>
						</div>
						<div class="item-buttons" data-item-id="{{item._id}}">
							<a class="item-unequip">Unequip</a>
							<a class="item-drop">Drop</a>
						</div>
					{{/each}}
				{{/if}}

				<h3 class="item-grid-header">Inventory</h3>

				{{#each weapons as |item id|}}
					{{> "systems/ryuutama/templates/actor-sheets/parts/actor-item-header.hbs" item=item}}
					<div class="item-details">
						<span class="item-detail-label">ACC:</span> 
						<span class="item-detail-value">[{{item.system.accuracy}}]</span>

						<span class="item-detail-label">DMG:</span> 
						<span class="item-detail-value">[{{item.system.damage}}]</span>
					</div>
					<div class="item-buttons" data-item-id="{{item._id}}">
						<a class="item-equip">Equip</a>
						<a class="item-drop">Drop</a>
					</div>
				{{/each}}

				{{#each equipment as |item id|}}
					{{> "systems/ryuutama/templates/actor-sheets/parts/actor-item-header.hbs" item=item}}
					<div class="item-details">
						<span class="item-detail-label">Slot:</span>
						<span class="item-detail-value">{{item.system.slot}}</span>
					</div>
					<div class="item-buttons" data-item-id="{{item._id}}">
						<a class="item-equip">Equip</a>
						<a class="item-drop">Drop</a>
						<a class="item-details">Details</a>
					</div>
				{{/each}}

				{{#each basicItems as |item id|}}
					{{> "systems/ryuutama/templates/actor-sheets/parts/actor-item-header.hbs" item=item}}
					<div class="item-short-desc">
						<span>{{item.system.shortDescription}}</span>
					</div>
					<div class="item-buttons" data-item-id="{{item._id}}">
						{{#if item.system.usable}}
							<a class="item-use">Use</a>
						{{/if}}
						<a class="item-drop">Drop</a>
						{{#if item.system.stackable}}
						<div class="item-stacking">
							<a class="item-stack-1">+1</a>
							<a class="item-stack-5">+5</a>
						</div>
						{{/if}}
					</div>
				{{/each}}
			</div>
		</div>
	</section>
</form>
