<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
	{{> "systems/ryuutama/templates/actor-sheets/parts/actor-header.hbs"}}


	<section class="sheet-body">
		<div class="details" >
			<hr />
			<div class="attribute-grid">
				<label class="attribute-label" for="system.attributes.level">{{localize "RYUU.Level"}}:</label>
				<input class="small-input" type="number" name="system.attributes.level" value="{{system.attributes.level}}" />

				<label class="attribute-label" for="system.attributes.materials">{{localize "RYUU.Materials"}}</label>
				<input class="huge-input" type="text" name="system.attributes.materials" value="{{system.attributes.materials}}" />

				<label class="attribute-label" for="system.attributes.accuracy">{{localize "RYUU.Accuracy"}}:</label>
				<input class="reg-input" type="text" name="system.attributes.accuracy" value="{{system.attributes.accuracy}}" />

				<label class="attribute-label" for="system.attributes.armour">{{localize "RYUU.Armour"}}</label>
				<input class="reg-input" type="number" name="system.attributes.armour" value="{{system.attributes.armour}}" />

				<label class="attribute-label" for="system.attributes.damage">{{localize "RYUU.Damage"}}:</label>
				<input class="reg-input" type="text" name="system.attributes.damage" value="{{system.attributes.damage}}" />

				<label class="attribute-label" for="system.attributes.initiative">{{localize "RYUU.Initiative"}}</label>
				<input class="reg-input" type="number" name="system.attributes.initiative" value="{{system.attributes.initiative}}" />
			</div>
			<hr />
			{{> "systems/ryuutama/templates/actor-sheets/parts/actor-main-stats.hbs"}}
			<hr />
			{{editor biographyHTML target="system.biography" button=true editable=editable}}
		</div>
	</section>
</form>
