<header class="item-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100" width="100" />
    <div class="header-fields">
        <h1 class="itemname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        <div class="resource-block">
            <div class="resource size">
                <label for="system.size">{{localize "RYUU.Size"}}</label>
                <input type="number" name="system.size" value="{{system.size}}" />
            </div>

            <div class="resource value">
                <label for="system.value">{{localize "RYUU.Value"}}</label>
                <input type="text" name="system.value" value="{{system.value}}" />
            </div>
        </div>
    </div>
</header>