
<form class="{{cssClass}} {{item.type}} flexcol" autocomplete="off">
    {{> "systems/ryuutama/templates/item-sheets/parts/item-header.hbs"}}

	<section class="sheet-body">
		<div class="attribute-grid">
			<label class="attribute-label" for="system.usable">Usable:</label>
			<input type="checkbox" name="system.usable" {{checked system.usable}} />

			<label class="attribute-label" for="system.stackable">Stackable:</label>
			<input type="checkbox" name="system.stackable" {{checked system.stackable}} />

			<label class="attribute-label" for="system.group">Group:</label>
			<input type="text" name="system.group" value="{{system.group}}" />

			<label class="attribute-label" for="system.quantity">Quantity:</label>
			{{#if system.stackable}}
				<input class="reg-input item-quantity-button" type="number" name="system.quantity" value="{{system.quantity}}" />
			{{else}}
				<label class="item-quantity-placeholder" name="system.quantity">1</label>
			{{/if}}

			<label class="attribute-label" for="system.shortDescription">Short Description:</label>
			<input class="full-input" name="system.shortDescription" value="{{system.shortDescription}}" />
		</div>

        <hr />
		<div class="tab details">
			{{editor descriptionHTML target="system.description" button=true editable=editable}}
		</div>
	</section>
</form>
