
<form class="{{cssClass}} {{item.type}} flexcol" autocomplete="off">
    {{> "systems/ryuutama/templates/item-sheets/parts/item-header.hbs"}}

	<section class="sheet-body">
		<div class="details">
			<hr />
            <div class="attribute-grid">
				<label class="attribute-label" for="system.slot">{{localize "RYUU.Slot"}}:</label>
				<input class="big-input" type="text" name="system.slot" value="{{system.slot}}" />
			</div>
			<hr />
			<div class="tab">
				{{editor descriptionHTML target="system.description" button=true editable=editable}}
			</div>
		</div>
	</section>
</form>
