
<form class="{{cssClass}} {{item.type}} flexcol" autocomplete="off">
    {{> "systems/ryuutama/templates/item-sheets/parts/item-header.hbs"}}

	<section class="sheet-body">
		<div class="details">
			<hr />
            <div class="attribute-grid">
				<label class="attribute-label" for="system.damage">{{localize "RYUU.Damage"}}:</label>
				<input class="big-input" type="text" name="system.damage" value="{{system.damage}}" />

				<label class="attribute-label" for="system.two-handed">{{localize "RYUU.TwoHanded"}}:</label>
				<input type="checkbox" name="system.two-handed" {{checked system.two-handed}} />

				<label class="attribute-label" for="system.accuracy">{{localize "RYUU.Accuracy"}}:</label>
				<input class="big-input" type="text" name="system.accuracy" value="{{system.accuracy}}" />
			</div>
			<hr />
			{{editor descriptionHTML target="system.description" button=true editable=editable}}
		</div>
	</section>
</form>
