<header class="actor-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
        <div class="resource-block">
            <div class="resource hp">
                <label>{{localize "RYUU.HP"}}:</label>
                <input type="number" name="system.attributes.hp.value" value="{{system.attributes.hp.value}}" >
                <span> / </span>
                <input type="number" name="system.attributes.hp.max" value="{{system.attributes.hp.max}}" >
            </div>
            <div class="resource mp">
                <label>{{localize "RYUU.MP"}}:</label>
                <input type="number" name="system.attributes.mp.value" value="{{system.attributes.mp.value}}" />
                <span> / </span>
                <input type="number" name="system.attributes.mp.max" value="{{system.attributes.mp.max}}" />
            </div>
            <div class="resource condition">
                <label>{{localize "RYUU.Condition"}}:</label>
                <input type="number" name="system.attributes.condition.value" value="{{system.attributes.condition.value}}" />
            </div>
        </div>
    </div>
</header>