
<img class="item-image" src="{{item.img}}" title="{{item.name}}" />
<div class="actor-item-header" data-item-id="{{item._id}}">
    <div class="item-name" data-item-id="{{item._id}}">
        <h4><a class="item-details-button">{{item.name}}</a></h4>
        {{#if item.stackable}}
            <h4 class="item-details-quantity"> {{item.quantityString}}</h4>
        {{/if}}
    </div>
    <div class="item-basics">
        <span>Size: {{item.system.size}}</span>
        <span>Value: {{item.system.value}}</span>
    </div>
</div>