<div class="attribute-block">
    <div class="attribute strength">
        <label class="attribute-label" for="system.attributes.str.value">{{localize "RYUU.STR"}}</label>
        <span class="die-marker">d</span><input class="small-input" type="number" name="system.attributes.str.value" value="{{system.attributes.str.value}}" />
    </div>
    <div class="attribute dexterity">
        <label class="attribute-label" for="system.attributes.dex.value">{{localize "RYUU.DEX"}}</label>
        <span class="die-marker">d</span><input class="small-input" type="number" name="system.attributes.dex.value" value="{{system.attributes.dex.value}}" />
    </div>
    <div class="attribute intelligence">
        <label class="attribute-label" for="system.attributes.int.value">{{localize "RYUU.INT"}}</label>
        <span class="die-marker">d</span><input class="small-input" type="number" name="system.attributes.int.value" value="{{system.attributes.int.value}}" />
    </div>
    <div class="attribute spirit">
        <label class="attribute-label" for="system.attributes.spi.value">{{localize "RYUU.SPI"}}</label>
        <span class="die-marker">d</span><input class="small-input" type="number" name="system.attributes.spi.value" value="{{system.attributes.spi.value}}" />
    </div>
</div>