/* 
   The text editor styling is frankly horrific. It only works out of the box 
   when it's the sole element in a section/tab. For other cases, I have settled
   for just predefining its size because I've wasted too much time on it already!
*/

.ryuutama .basic .editor,
.ryuutama .character .editor {
    height: 100%;
}

.ryuutama .weapon .editor,
.ryuutama .equipment .editor,
.ryuutama .monster .editor {
    height: fit-content;
    min-height: 250px;
    padding: 5px;

    /* Seems sensible to highlight the area since it's a weird fixed size */
    background-color: rgba(0, 0, 0, 0.1);
}

.ryuutama .weapon .editor .tox,
.ryuutama .equipment .editor .tox,
.ryuutama .monster .editor .tox {
    height: fit-content;
    min-height: 250px;
}

.ryuutama .item-header,
.ryuutama .actor-header {
    display: flex;
    flex: 0 0 100px;
    flex-flow: row nowrap;
    justify-content: flex-start;
    overflow-y: hidden;
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
}

.ryuutama .item-header .item-img,
.ryuutama .actor-header .profile-img {
    height: 100px;
    margin: 0px;
    margin-right: 10px;
    padding: 0px;
}

.ryuutama .header-fields {
    display: flex;
    flex: 1 0 auto;
    flex-flow: column nowrap;
    justify-content: flex-start;
    overflow:hidden;
}

.ryuutama .header-fields h1 {
    height: 50px;
    padding: 0px;
    margin: 5px 0;
    border-bottom: 0;
}

.ryuutama .header-fields h1 input {
    width: 100%;
    height: 100%;
    margin: 0;
}

.ryuutama .header-fields .resource-block {
    display: flex;
    flex: 1 0 auto;
    flex-flow: row wrap;
    justify-content: flex-start;
    overflow: hidden;
}

.ryuutama .resource {
    display: flex;
    flex: 0 0 40px;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 5px 10px;
    text-align: center;
    align-items: center;
}

.ryuutama .resource label {
    margin-right: 5px;
}

.ryuutama .resource input {
    width: 50px;
    height: 28px;
}

.ryuutama nav.tabs.sheet-tabs {
    flex: 0 0 40px;
    padding: 10px 0px;
    border-style: none;
}

.ryuutama .tabs .item {
    width: 100%;
    margin: 0 5px;
    line-height: 40px;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}

.ryuutama .tabs .item.active {
    text-shadow: none;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
}

.ryuutama .sheet-body {
    overflow: hidden;
}

.ryuutama .sheet-body .tab {
    height: 100%;
    overflow-y: auto;
}

.ryuutama .item-grid {
    display: grid;
    grid-template-columns: 50px max-content auto max-content;
    grid-auto-rows: max-content;
    gap: 10px;
    align-items: flex-start;
    overflow: hidden;
}

.ryuutama .item-grid-header {
    grid-column-start: 1;
    grid-column-end: 5;
    width: 100%;
    margin-top: 30px;
}

.ryuutama .item-image {
    height: 50px;
    width: 50px;
    min-width: 50px;
    min-height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.ryuutama .item-details {
    display: grid;
    grid-template-columns: 40px auto;
}

.ryuutama .item-details .item-detail-label {
    text-align: right;
    margin-right: 5px;
}
.ryuutama .item-details .item-detail-value {
    text-align: left;
}

.ryuutama .item-short-desc {
    text-align: left;
}

.ryuutama .item-name h4 {
    margin-bottom: 1px;
    white-space: nowrap;
}

.ryuutama .item-details-quantity {
    margin-left: 5px;
}

.ryuutama .item-details span {
    margin-top: 1px;
    margin-bottom: 1px;
}

.ryuutama .item-stacking {
    display: flex;
    flex-flow: row nowrap;
}

.ryuutama .item-stacking .item-stack-5 {
    margin-left: 5px;
}

.ryuutama .actor-item-header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    height: 100%;
    overflow: hidden;
    margin-right: 5px;
}

.ryuutama .item-name {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.ryuutama .item-basics {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-top: 1px;
}

.ryuutama .item-basics span {
    margin-right: 5px;
}

.ryuutama .item-buttons {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding-right: 30px;
}

.ryuutama .item-button a {
    margin-top: 1px;
    margin-bottom: 1px;
}

.ryuutama .attribute-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    margin-top: 5px;
    align-items: center;
}

.ryuutama input.item-quantity-button {
    appearance: auto;
}

.ryuutama .item-quantity-placeholder {
    appearance: auto;
    width: 64px;
}

.ryuutama .attribute-grid .attribute-label {
    text-align: right;
    white-space: nowrap;
}

.ryuutama .attribute-block {
    display: flex;
    flex: 1 0 auto;
    flex-flow: row wrap;
    justify-content: baseline;
    overflow: hidden
}

.ryuutama .attribute {
    display: flex;
    flex: 1 0 auto;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin: 5px 10px;
    text-align: center;
    align-items: center;
}

.ryuutama .die-marker {
    margin-right: 1px;
}

.ryuutama .attribute-label {
    margin-right: 5px;
}

.ryuutama .small-input {
    width: 32px;
    height: 28px;
}

.ryuutama .reg-input {
    width: 64px;
    height: 28px;
}

.ryuutama .big-input {
    width: 128px;
    height: 28px;
}

.ryuutama .huge-input {
    width: 256px;
    height: 28px;
}

.ryuutama .full-input {
    width: 100%;
    height: 28px;
}